<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/users/signup"> Sign Up </a>
   </div>
    <div>
        <a href="/users/logout"> Logout </a>
   </div>
   <div>
        <a href="/trips"> Home </a>
   </div>
   <div>
        <a href="/trips/new"> New Trip </a>
   </div>

        <!-- USER login form  -->
        <main>
            <section> 
                <form action="/users/login" method="POST">
                    <div>
                    <label for="username "> Username: </label>
                     <input type="text" name="username">
                    </div>
                    <div>
                        <label for="password "> Password: </label>
                        <input type="password" name="password">
                    </div>
                    <input type="submit" value="LOGIN">
            </form>
            </section>
        </main>
        
    <h2>List of Trips</h2>
            <ul>
                <% trips.forEach(trips => { %>
                    <li>
                    <a href="/trips/<%=trips._id%>"><%=trips.name%></a>
                    </li>
                <% }) %>
            </ul>
</body>
</html>
