<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HEllo this is a TEST!! </h1>

    <h2>List of Trips</h2>
            <ul>
                <% trips.forEach(trips => { %>
                    <li>
                    <a href="/trips/<%=trips._id%>"><%=trips.name%></a>
                    </li>
                <% }) %>
            </ul>

            <!-- USER login form  -->
            <main>
                <section> 
                    <form action="/login" method="POST">
                        <div>
                        <label for="username "> Username: </label>
                         <input type="text" name="username">
                        </div>
                        <div>
                            <label for="password "> Password: </label>
                            <input type="password" name="password">
                        </div>
                        <input type="submit" value="LOGIN">
                </form>
                </section>
            </main>
</body>
</html>
