<!DOCTYPE html>
<html>
	<head>
		<title>Place Searches</title>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiTRmQpKXDj6e2BZMi0kOfqY7ZQTih8qs&callback=initMap&libraries=places&v=weekly"
			defer
		></script>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<script src="/app.js"></script>
	</head>
	<body>
		<input
			id="pac-input"
			class="controls"
			type="text"
			placeholder="start typing here pls"
		/>
		<div id="map"></div>
	</body>
</html>
