<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        
        <div>
            <a href="/users/signup"> Sign Up </a>
       </div>
        <div>
             <a href="/users/logout"> Logout </a>
        </div>
        <div>
             <a href="/trips"> Home </a>
        </div>
        <div>
             <a href="/trips/new"> New Trip </a>
        </div>
        </nav>
    </header>

    <main>

        <h2> Register  </h2>
        <form action="/users/signup" method="post">
            
            username : <input type="text" name="username" /><br/>
            email : <input type="text" name="email" /><br/>
            password: <input type="text" name="password" /><br/>

            <input type="submit" value="Register"/>
        </form>
    </main>
</body>

</html>