/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
	height: 90%;
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
.static-body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	backface-visibility: hidden;
	will-change: overflow;
}

#home-body {
	background-color: rgb(180, 110, 152);
}

#description {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

.pac-card {
	margin: 10px 10px 0 0;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
}

#pac-container {
	padding-bottom: 12px;
	margin-right: 12px;
}

.pac-controls {
	display: inline-block;
	padding: 5px 11px;
}

.pac-controls label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

/* navigation */
#title {
	color: #fff;
	background-color: #4d90fe;
	font-size: 25px;
	font-weight: 500;
	padding: 6px 12px;
}

#navigation {
	width: 100%;
	height: 100%;
	background-color: rgb(112, 71, 108);
	background: linear-gradient(
		90deg,
		rgba(112, 71, 108, 1) 0%,
		rgba(171, 110, 134, 1) 56%,
		rgba(73, 92, 198, 1) 100%
	);
	/* position: absolute;
	top: 0; */
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	padding-bottom: 2%;
}

#nav-button {
	float: left;
	font-size: x-large;
}

a,
a:link,
a:visited,
a:hover {
	color: #fffafa;
	text-decoration: none;
	text-align: center;
	align-content: center;
	text-decoration: none;
	font-size: xx-large;
	height: 100%;
	object-fit: contain;
}

link,
link:visited,
link:hover {
	color: #fffafa;
	text-decoration: none;
	text-align: center;
	align-content: center;
	text-decoration: none;
	font-size: xx-large;
	height: 100%;
	object-fit: contain;
}

#logo {
	height: 60px;
	margin-left: 10px;
}

#nav-bar {
	text-align: center;
	color: white;
	align-content: center;
}

#sights {
	height: 90%;
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgb(180, 110, 152);
	flex: 1;
}

#sights-header {
	padding: 0;
	text-align: center;
	font-size: smaller;
	line-height: 0.9;
	background-color: rgb(116, 70, 103);
	color: white;
	padding: 1%;
}

.delete-button {
	background-color: rgb(81, 31, 61);
	border: none;
	color: white;
	padding: 3px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

#sight-container {
	overflow: scroll;
	height: 90%;
}

#trip-container {
	height: 90%;
	width: 90%;
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
}

.card-bg {
	width: 100%;
	background-position: center;
	opacity: 100%;
	margin: 5px;
	overflow: auto;
	color: white;
	box-shadow: inset 0 0 0 1000px rgba(116, 70, 103, 0.2);
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
}

.trip-card {
	padding: 2%;
	opacity: 100%;
	color: white;
	margin: 0%;
	background-color: rgba(123, 46, 114, 0.4);
}

.sight-card {
	padding: 2%;
	opacity: 100%;
	color: white;
	margin: 0%;
	background-color: rgba(123, 46, 114, 0.4);
}

.opacity-50p {
	opacity: 50%;
}

#new-holder {
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-button {
	width: 67px;
	height: 67px;
}
::-webkit-scrollbar-thumb {
	background: #804461;
	border: 0px none #ffffff;
	border-radius: 56px;
}
::-webkit-scrollbar-thumb:hover {
	background: #7d4074;
}
::-webkit-scrollbar-thumb:active {
	background: #a4949f;
}
::-webkit-scrollbar-track {
	background: #666666;
	border: 30px none #ffffff;
	border-radius: 15px;
}
::-webkit-scrollbar-track:hover {
	background: #666666;
}
::-webkit-scrollbar-track:active {
	background: #333333;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
