<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="/styles/style.css" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
			integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
			crossorigin="anonymous"
		/>

		<!-- JS, Popper.js, and jQuery -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
			integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
			crossorigin="anonymous"
		></script>

		<title></title>
	</head>
	<body id="home-body">
		<nav id="navigation">
			<div class="">
				<%- include('../partials/_nav') %>
				<!-- <div><img id="logo" src="https://64.media.tumblr.com/ebd8916cb73ff5f4106cdc8b5717506f/56c78ea55897421b-ea/s640x960/f54aa6401496517562233c7d6921c73c443b9a49.png" alt="logo"></div> -->
			</div>
		</nav>
		<div id="new-holder" class="text-white">
			<h1 style="text-align: center;">Your new trip</h1>
			<div class="m-5">
				<form class="form-group" action="/trips" method="post">
					name :
					<input
						class="form-control opacity-50p"
						type="text"
						name="name"
					/><br />
					address :
					<input
						class="form-control opacity-50p"
						type="text"
						name="address"
					/><br />
					lat:
					<input
						class="form-control opacity-50p"
						type="text"
						name="lat"
					/><br />
					long:
					<input
						class="form-control opacity-50p"
						type="text"
						name="lng"
					/><br />

					img:
					<input
						class="form-control opacity-50p"
						type="text"
						name="img"
					/><br />
					<input
						class="delete-button form-control"
						type="submit"
						value="CREATE TRIP"
					/>
				</form>
			</div>
		</div>
	</body>
</html>
